* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  padding-top: 2em;
  background: linear-gradient(177deg, #00ffec85, transparent);
}

nav {
  display: flex;
justify-content: center;
align-content: center;
gap: 10px;
font-size: 1.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
